@import "tailwindcss";

@theme {
  --color-bg-light: #ffffff;
  --color-text-light: #000000;
  --color-bg-dark: #242533;
  --color-text-dark: #ffffff;
}

* {
  transition: background-color 1s ease, color 0.3s ease;
}

body {
  margin: 0;
  font-family:'Poppins' , system-ui, -apple-system, sans-serif;
}

.light {
  background-color: var(--color-bg-light);
  color: var(--color-text-light);
}

.dark {
  background-color: var(--color-bg-dark);
  color: var(--color-text-dark);
}




.tubelight span {
  display: inline-block;
  color: #fff; 
  animation: flicker 8s linear infinite;
  animation-delay: calc(1.1s * var(--i));
  padding: 0 2px;
}

@keyframes flicker {
  
  0%, 19.9%, 22%, 62.9%, 65%, 100% {
    opacity: 1;
    text-shadow: 
      0 0 7px #00f2ff90,
      /* 0 0 10px #00f3ff, */
      /* 0 0 21px #00f3ff, */
      0 0 20px #00f2ff98;
  }
  
  20%, 21.9%, 63%, 64.9% {
    opacity: 0.4; 
    text-shadow: none;
    color: rgba(255, 255, 255, 0.2);
  }
}
